@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,400&display=swap');

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    height: 100%;
    width: 100%;
}

li, a, h1, h2, p {
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #181918;
}

.hero {
    height: 100vh;

    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;


    .title {
        font-weight: 900;
        font-size: 36px;
        text-transform: uppercase;

        padding: 75px 0 30px 0;
    }

    .Subtitle {
        font-weight: 400;
        font-size: 24px;
    }

    .box {
        width: 500px;
        height: 280px;

        position: absolute;
        top: calc(50% - 280px/2);

        background: #FFFFFF;
        box-shadow: 7px 7px 20px 3px rgba(24, 25, 24, 0.25);
        border-radius: 30px;

        #brief {
            width: 450px;
            height: 200px;

            position: absolute;
            top: calc(50% - 200px/2);
            left: calc(50% - 450px/2);

            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            color: #181918;
        }
    }

    .submit {
        width: 500px;
        height: 52px;

        position: absolute;
        top: calc(75% - 52px/2);

        cursor: pointer;

        border: none;
        box-shadow: 7px 7px 30px 3px rgba(24, 25, 24, 0.25);
        background: #939DFF;
        border-radius: 15px;

        font-size: 24px;
        font-weight: 400;
        color: #fefefe;

        &:hover {
            transition: all 0.3s;
            background: #6C7BFF;
        }
    }
}